//- Kyan M, Syed Hassnat A
//- Lab 4
extends ./layouts/main
block content
    h1 Welcome to the Animal Preservation System By: Kyan and Hassnat
    h2 The Most Respected Animal Matchmaker for International Zoos
    p 
The Animal Preservation System is dedicated to pairing potential mates in captivity to ensure the conservation of their species. Our database maintains a record of available animals, allowing you to find suitable partners for endangered species in your own zoo.